ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 10px;
  }      
  li.nav {
    float: left;
  }      
  li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }      
  li.nav a:hover:not(.active) {
    background-color: #78b37a;
  }
  li.navHeader {
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 11px 16px;
    text-decoration: none;
  }      
  li.navLogout {
    background-color: #4CAF50;
    float: right;
  }
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }
  
  /* The Close Button */
  .modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .modal-close:hover,
  .modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-finished {
    margin:0 auto;
    display:block;
  }
label.selLabel {
    display: inline-block;
    width: 10em;
    margin-right: .5em;
    margin-bottom: .25em;
    font-size: 1.1em;
}

select.selSelect {
    display: inline-block;
    width: 10em;
    font-size: .9em;
}

button.selButton {
    font-size: 1em;
    width: 10em;
    margin-right: .5em;
    margin-top: .5em;
}
