ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 10px;
  }      
  li.nav {
    float: left;
  }      
  li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }      
  li.nav a:hover:not(.active) {
    background-color: #78b37a;
  }
  li.navHeader {
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 11px 16px;
    text-decoration: none;
  }      
  li.navLogout {
    background-color: #4CAF50;
    float: right;
  }
