label.selLabel {
    display: inline-block;
    width: 10em;
    margin-right: .5em;
    margin-bottom: .25em;
    font-size: 1.1em;
}

select.selSelect {
    display: inline-block;
    width: 10em;
    font-size: .9em;
}

button.selButton {
    font-size: 1em;
    width: 10em;
    margin-right: .5em;
    margin-top: .5em;
}